# ===============================
# Java / Gradle
# ===============================
*.class
*.jar
*.war
*.ear

/build/
/out/
.gradle/

# ===============================
# Gradle wrapper
# ===============================
!gradle/wrapper/gradle-wrapper.jar

# ===============================
# IDE (IntelliJ IDEA)
# ===============================
.idea/
*.iml

# ===============================
# Logs
# ===============================
logs/
*.log

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# JavaDoc (генерируется автоматически)
# ===============================
index.html
allclasses-index.html
allpackages-index.html
overview-summary.html
overview-tree.html
help-doc.html
search.html
serialized-form.html
element-list
stylesheet.css
script.js
search.js
search-page.js
package-search-index.js
member-search-index.js
module-search-index.js
tag-search-index.js
type-search-index.js
resources/
legal/
script-dir/
index-files/
com/

# ===============================
# Temporary / generated
# ===============================
*.tmp
*.swp
*.bak
