<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">

    <Appenders>

        <!--ВЫВОД В КОНСОЛЬ-->
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%d{HH:mm:ss}] %-5level %c - %msg%n"/>
        </Console>

        <!--ВЫВОД В ФАЙЛ-->
        <File name="File"
              fileName="logs/app.log"
              append="true">
            <PatternLayout
                    pattern="[%d{yyyy-MM-dd HH:mm:ss}] %-5level %c - %msg%n"/>
        </File>

    </Appenders>

    <Loggers>

        <!--ЛОГИРОВАНИЕ ХРАНИЛИЩА-->
        <Logger name="com.tsarskiy.storage"
                level="debug"
                additivity="false">
            <AppenderRef ref="File"/>
        </Logger>

        <!--КОРНЕВОЙ ЛОГГЕР-->
        <Root level="info">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>

    </Loggers>
</Configuration>
